@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

:root {
  --background: #14161B;
	--green: #E0F15B;
	--gray: #D4D4D4;
	--dark: #101111;
	--blue-dark: #1F1E25;
}

@theme inline {
  --color-background: var(--background);
	--color-green: var(--green);
	--color-gray: var(--gray);
	--color-dark: var(--dark);
	--color-blue-dark: var(--blue-dark);
  --font-bricolage: var(--font-bricolage);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
	margin: 0px;
	background-color: var(--color-background);
	font-family: var(--font-bricolage);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow-x: hidden;
	background-image: url("/ellipse-gradient.png");
}

@utility mask-fade-bottom {
	mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}